
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main Styling */
html,
body {
  line-height: 1.7em;
  background-color: #0c2461;
}

a {
  color: #333;
  text-decoration: none;
}

h1,
h2,
h3 {
  padding-bottom: 20px;
}

p {
  margin: 10px 0;
}
#nav{
  color: green;
}

/* Utility Classes */
.container {
  margin: auto;
  max-width: 1100px;
  overflow: auto;
  padding: 0 20px;
  text-align: right;
}

.text-primary {
  color: #0c2461;
}

/* Showcase */
#showcase {
  background: url("../img/showcase.jpg") no-repeat center center/cover;
  height: 600px;
  opacity: 0.8;
}

#showcase .showcase-content {
  color: #fff;
  text-align: center;
  padding-top: 170px;
}

#showcase .showcase-content h1 {
  font-size: 60px;
  line-height: 1.2em;
  color: black;
}

#showcase .showcase-content p {
  padding-bottom: 20px;
  line-height: 1.7em;
}


/* Footer */
#main-footer {
  text-align: center;
  background: #0c2461;
  color: #fff;
  padding: 20px;
}
