
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main Styling */
html,
body {
  line-height: 1.7em;
  background-color: #cccccc;
}

#data {
background-color: #d4dffa;
padding-left: 10px
}

#text {
padding-left: 15px;
border-bottom: 5px solid black;
}


/* Showcase */
#showcase {
background-color: #0c2461;
}


#main-footer {
  text-align: center;
  background: #0c2461;
  color: #fff;
  padding: 20px;
}
